{% extends '_templates/base.njk' %}

{% block page_title %} Home {% endblock %}

{% block page_description %}Home page of my personal website with an introduction and links to recent personal blog entries.{% endblock %}

{% block content %}
<div class="container py-3" id = 'welcome-section'>
  <div class="row">
    <div class="col-md-4">
      <img src="img/diego-vertical.jpg" alt="Diego smiling to camera in front of tree." class = 'img-fluid' id = "welcome-image">
    </div>
    <div class="col-md-8">
        <p id = "welcome-header" class="display-2 text-center text-md-start">Welcome to my website!</p>
        <p class = "welcome-paragraph">I am a junior at the University of Texas pursuing a journalism degree with a certificate in computer science. With a passion for writing and computational techniques, I specialize in data-driven storytelling, visualization and multimedia reporting. I am interested in exploring applications of evolving technologies for journalistic purposes, as well as their impact on the field.</p>
        <p class = "welcome-paragraph">This website serves as a landing place where you can learn more about me, see what I am up to professionally and academically, and have access to my projects. I am currently focused on learning all I can about databases, data analysis, data visualizations, front-end development and creating mobile apps. I also am a videographer for <a href="https://thedailytexan.com/" target="_blank" >The Daily Texan</a>, UT's student newspaper, where I've produced both short- and long-form content for its website and social media, and a student technician and now Data Fellow for the UT journalism school's <a href="https://journalism.utexas.edu/innovation/dallas-morning-news-journalism-innovation-endowment" target="_blank">Media Innovation Group</a>.</p>
        <p class="welcome-paragraph">What I like about data journalism is that it allows me to problem-solve and find answers to questions that serve the public's interest. Each step of the data-storytelling process teaches me something new about the topic I am investigating, about computing and about how to communicate results for different audiences.</p>
        <p class = "welcome-paragraph">Outside of work, I enjoy walking, swimming, playing video games, listening to music and trying out different restaurants around Austin. I also love to travel and spend time in museums and planetariums. My favorite museum is <a href="https://www.museodelprado.es/en" target = "_blank">Museo Nacional del Prado</a> in Madrid, Spain; though, the <a href="https://www.amnh.org/" target = "_blank">American Museum of Natural History</a> comes at a close second.</p>
        <p class = "welcome-paragraph">Learn more about me on my <a href="{{ relative_path }}about.html">about</a> page.</p>
    </div>
<div class="container py-3">
  <p class="display-5 text-center text-md-start" id = "blog-title">Personal blog</p>
  <div class="row blog-description">
    <p>I tend to write about lessons I've learned as a student, commentary on journalism issues, best practices when reporting and editing, and my experience with various technologies. From time to time, I'll also share personal updates about my life or talk about how much I love my cat, Cleo!</p>
    {# <div class="mx-auto pb-3" style = "width: 150px;">
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#cleoModal">
        Cleo button
      </button>
      <!-- Modal -->
      <div class="modal fade" id="cleoModal" tabindex="-1" aria-labelledby="cleoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="cleoModalLabel">Cleo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>This is my cat, Cleo!</p>
              <img src="img/cleo-closeup.jpeg" alt="A grey/brown tabby cat with green eyes staring at the camera." class="w-50 d-block mx-auto pb-2">
              <p>Her full name is Cleopatra, which is fitting since she always looks so regal. </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div> #}
    <p>If you have a question about a blog post or want to reach out and talk, feel free to reach out via email or social media.</p>
  </div>
  <hr>
  <div class="row">
    {% for blog in blog.blogs | reverse %}
      <h3><a href="blogs/{{ blog.slug }}.html">{{ blog.headline }}</a></h3>
      <p>{{ blog.date }}</p>
      <hr>
    {% endfor %}
  </div>
  
</div>  

  </div>
</div>
{% endblock %}